@model AdminWeb.Models.Location


@{
    ViewData["Title"] = "Index";
   // var x = Model.Id;
}  

   
	<h5>Select Location</h5>
	<div class="card mb-0 bg-light mt-3">
	    <div class="card-body">
	     <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Person">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="" asp-for="Id" />
            <div class="form-group">
               <select asp-for="Id" asp-items="@(new SelectList(ViewBag.message,"Id","LocationName"))"></select>  
            </div>
        
            <div class="form-group">
                <input type="submit" value="GO" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>
</div>
</div>

@*<div>
	    </div>
	</div>
	</div>


@*  
<h1>Binding data into Dropdown list</h1>  
<hr />  
<select asp-for="Id" asp-items="@(new SelectList(ViewBag.message,"Id","LocationName"))"></select>  
*@


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
               <select asp-for="Id" asp-items="@(new SelectList(ViewBag.message,"Id","LocationName"))"></select>  
            </div>
         
          
        
           
            <div class="form-group">
                <input type="submit" value="GO" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

          
	
	