@model AdminWeb.Models.Location


@{  
    ViewData["Title"] = "Index";  
}  
  
<h1>Binding data into Dropdown list</h1>  
<hr />  
<select asp-for="Id" asp-items="@(new SelectList(ViewBag.message,"Id","LocationName"))"></select>  