@model dynamic
@{
    // important steps, data retrun from controoler to controller not partial view if you use your mode , Ids cannot be passed as view sometime
    // // return redirect to action with ID 
    // return partail views are important to achieve.

    var Location = Model.Location as AdminWeb.Models.Location;
    var Asset = Model.Asset as AdminWeb.Models.AssetMaster;
    var Person = Model.Person as AdminWeb.Models.Person;
    // View Bag data from Location Controller 
    // step 1 , loction Id, step 2 , Location Id to Asset controller 
    Person.LocationId = ViewBag.LocationIdX;
    Asset.LocationId = ViewBag.LocationIdX;

    

    //string msg = Model.MethodType;
    //ViewData["Taxlist"] = Model.Taxlist;
    //ViewData["Statuslist"] = Model.Statuslist;
    //ViewData["documentstypes"] = Model.documentstypes;

    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h1>LOCATION ID @ViewBag.LocationIdX</h1>
<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active">
            <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
            <span class="d-none d-lg-block">Asset Master</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#profile" data-toggle="tab" aria-expanded="true"
            class="nav-link">
            <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
            <span class="d-none d-lg-block">Person</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
            <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
            <span class="d-none d-lg-block">Land Owner</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="home">
       @Html.Partial("~/Views/AssetMaster/SaveLocation.cshtml", Asset)
       
    </div>
    <div class="tab-pane show active" id="profile">
       
       @Html.Partial("~/Views/Person/Create.cshtml", Person)
    </div>
    <div class="tab-pane" id="settings">
        <p>Food truck quinoa dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
            quis enim.</p>
        <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
            dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
            elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
            porttitor eu, consequat vitae, eleifend ac, enim.</p>
    </div>
</div>